<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>上海</key>
		<integer>1437</integer>
	</dict>
	<dict>
		<key>北京</key>
		<integer>1451</integer>
	</dict>
	<dict>
		<key>广州</key>
		<integer>1449</integer>
	</dict>
	<dict>
		<key>深圳</key>
		<integer>1539</integer>
	</dict>
	<dict>
		<key>天津</key>
		<integer>1452</integer>
	</dict>
	<dict>
		<key>香港</key>
		<integer>3308</integer>
	</dict>
	<dict>
		<key>东关</key>
		<integer>1547</integer>
	</dict>
	<dict>
		<key>杭州</key>
		<integer>1439</integer>
	</dict>
	<dict>
		<key>成都</key>
		<integer>1450</integer>
	</dict>
	<dict>
		<key>哈尔滨</key>
		<integer>1481</integer>
	</dict>
	<dict>
		<key>哈尔滨太平宏伟公园</key>
		<integer>1282</integer>
	</dict>
	<dict>
		<key>南京</key>
		<real>1485</real>
	</dict>
	<dict>
		<key>伦敦，英国</key>
		<real>5724</real>
	</dict>
	<dict>
		<key>孟买，印度</key>
		<integer>7020</integer>
	</dict>
	<dict>
		<key>新德里，印度</key>
		<integer>7024</integer>
	</dict>
	<dict>
		<key>新加坡</key>
		<real>1666</real>
	</dict>
	<dict>
		<key>首尔，韩国</key>
		<real>5508</real>
	</dict>
</array>
</plist>
